body {
    background-color: burlywood;
    font-size: 20px;
}

.menu {
    background-color: black;
    overflow: hidden;
    /* width: 100%; */
}

.menu a {
    float: left;
    color: lightgray;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
}

.menu a:hover {
    background-color: lightgray;
    color: black;
}

.menu a.active {
    background-color: black;
    color: lightgray;
}

.footer {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
    background-color: black;
    width: 100%;
}